{% extends 'base.html' %}
{% load staticfiles %}

{% block cargarcsv %}
<head>
	<style type="text/css">
		.row{
			border-radius: 5px;
			padding:20px;
			background-color: rgb(242,241,240);

		}
		.input-group-addon{
			background-color: rgb(38,90,136);
			color: white;
			font-weight: bold;
			cursor: pointer;
		}
		.containter{
			max-width:600px: 
		}
		a{
			font-size: 18px;

		}
		form{
			margin-top: 15px;
		}
	</style>
	<title>{{title}}</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-2">
				<h2>Carga de <b>{{header}}</b> mediante CSV</h2>
				<h5>{{instructions}}</h5>
				<a href="{{ejemploCSV}}"><code><b>Descargar ejemplo</b></code></a>

				<form method="post" action="." id="upLoadForm" enctype='multipart/form-data'>{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<input type="text" id="fileName" class="form-control" disabled>
							<div class="input-group-addon" onclick="clickFile()">
								<i class="fa fa-file"></i>
								Seleccione  Archivo
							</div>
						</div>

						<!-- <button class="btn btn-primary" type="button" onclick="clickFile()"></button> -->
					</div>

					<input type="file" id="file1"  onchange="selectedFile(event)" name="file" style="display:none">
					<hr>
					<input type="submit" name="" class="btn btn-success" value="Cargar">

					<a href="/admin/"><button class="btn btn-primary" type="button">Volver</button></a>


				</form>

	{% if messages %}
		<div class="span12" style="margin-top: 20px;">
		{% for message in messages %}
		    <div class="alert alert-{{ message.tags }}">
		        {{ message|safe }}
		    </div>
		{% endfor %}
	</div>
	{% endif %}



			</div>
		</div>

	</div>
<script type="text/javascript">
	function clickFile(){
		document.getElementById('file1').click();

	}
	function selectedFile(event){
		console.log(event)
		var file_name  =  document.getElementById('file1').value
		if(file_name.split('.')[1] == 'csv'){
			document.getElementById('fileName').value =file_name;
		}else{
			alert('Solo se acepta archivo con extension txt ( *.csv  )')
		}
		
	}



</script>
</body>
{% endblock cargarcsv %}