        <div sidebar" class="app_sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">A <span class="sr-only">(current)</span></a></li>
            <li><a href="#">1. Pacientes</a></li>
            <li><a href="#">2. Biopsias/Citologias</a></li>
            <li><a href="#">3. Resultados</a></li>
            <li><a href="#">3. Codigos</a></li>
          </ul>
<!--           <ul class="nav nav-sidebar">
            <li><a href="">E</a></li>
            <li><a href="">F</a></li>
            <li><a href="">G</a></li>
            <li><a href="">H</a></li>
            <li><a href="">I</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">J</a></li>
            <li><a href="">K</a></li>
            <li><a href="">L</a></li> -->
          </ul>
        </div>