

<panel-table 
	search-url ='api/estudios_model/?search='
	search-field="true" 
	panel-title="Estudios"
	advanced-search = "true"
	search-date-field="true"
	placeholder="Buscar"
	results-list = "listaEstudios"
>
				<extra-element>

					    <label class="sr-only">Filtrar por:</label>
					    <select ng-model="transclusion.filtro" name="dateRange"">
					    	<option value="">Tipo Estudio:</option>
					    	<option value="citologia">Citologia</option>
					    	<option value="biopsia">Biopsia</option>
					    </select>

					    <label class="sr-only">Tipo Cliente:</label>
					    <select ng-model="transclusion.filtro2" name="dateRange"">
					    	<option value="">Filtrar por:</option>
					    	<option value="postpago">Post Pago</option>
					    	<option value="normal">Normal</option>
					    </select>
				</extra-element>
	<table class="table table-condensed table-striped table-responsive">
	 		<div class="row" style="max-width:700px;margin:10px;">
	 			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
						<button  title="Resetear busqueda" type="button" ng-click="refreshList()" class="btn btn-info">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>

	 			</div>

	 			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
						<button  title="Buscar entre Fechas" type="button" ng-click="filtrarEntreFechasModal('api/estudios_model/')" class="btn btn-info">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</button>
	 			</div>
						<div ng-show="resultados > 0" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<!-- <button ng-click="searchByModal()" type="button" class="btn btn-info">Search by:</button> -->
							<span><b>[[resultados]]</b> resultados encontrados para <b>"[[resultsFor]]"</b></span>
						</div>	
	 		</div>
		<thead>
			<tr style="font-weight:bold;">
				<td>ID</td>
				<td>Nro Secuencia</td>
				<td>Paciente</td>
				<td>Fecha</td>
				<td>Tipo</td>
				<td>Desc.</td>
				<td>Costo</td>
			</tr>
			<tr class="warning" style="font-weight:bold;">
				<td>[[listaEstudios.length]] estudios</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>[[totalPrecio()|currency : 'Bs. ':2]]</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="estudio in listaEstudios| orderBy:'-created' | filter:{tipo:transclusion.filtro, tipo_cliente:transclusion.filtro2}"><!--|{transclusion.filtro2}-->
				<td><a href="" ng-click="mostrarDetallesPaciente(estudio.paciente)">[[estudio.id]]</a></td>
				<td>[[estudio.nro_sec_mes]]</td>
				<td>[[estudio.paciente.nombres|capfirstlettereachword]] [[estudio.paciente.apellidos|capfirstlettereachword]]</td>
				<td>[[estudio.created|date:'medium']]</td>
				<td>[[estudio.tipo|capitalize]]</td>
				<td>[[estudio.estudio_realizado.nombre|capitalize]]</td>
				<td>[[estudio.estudio_realizado.precio|currency : 'Bs. ':2]]</td>
			</tr>
		</tbody>
	</table>
</panel-table>